<header class="landing">
    <div class="hero-text-box">
        <h1>JAZ Events</h1>
        <h2>The best place to arrange events</h2>
        <div>
          <div>
            <p class="btn btn-header"><%= link_to "Log In", login_path %></p>
            <p class="btn btn-header" id="signup-btn"><%= link_to "Sign Up", signup_path %></p>
          </div>
        </div>
    </div>
</header>