/*
COLORS:
WHITE: #C0BFBF
PURPLE: #620056 - rgb(98, 0, 86)
YELLOW: #f4d03f - rgb(244, 208, 63)
ORANGE: #f9690e - rgb(249, 105, 14)
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Barlow';
}


/****************************
REUSABLE COMPONENTS
****************************/
.btn, .btn a:visited {
    display: inline-block;
    color: #f4d03f;
    border: 3px solid #f4d03f;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    width: 200px;
}

.btn a {
    text-decoration: none;
}

.btn-header {
    text-decoration: none;
    font-size: 90%;
    transition: margin-top 0.5s, background-color 0.5s, border-color 0.5s;
}

.btn-header:hover, .btn-header:active {
    text-decoration: none;
    background-color: #6d1770;
    border-color: #6d1770;
    margin-top: 10px;
}

.filler {
    height: 60px;
    background-color: #000;
}

.center {
    text-align: center;
}

hr {
    height: 1px;
    background: rgb(98, 0, 86);
    border: none;
    outline: none;
    margin: 10px 50px 30px;
    position: relative;
    
    &:before {
      
      content: attr(data-symbol);
      position: absolute;
      top: 0;
      left: 50%;
      background: black;
      color: white;
      padding: 0.5em 3em;
      @include transform(translate(-50%, -50%));
      
    }
  }

hr#two {
    @include background-image(linear-gradient(right, black, white));
    
    &:before {
      left: 90%;
      width: 20%;
      padding: 1em;
      top: 1px;
    }
  }

/****************************
HOME PAGE
****************************/
.landing {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job14-267-jite-0821.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=ac0ff699b9e5ed0b940fd9114a5cd42d);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job14-267-jite-0821.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=ac0ff699b9e5ed0b940fd9114a5cd42d);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-text-box {
    position: absolute;
    border-radius: 2px;
    padding: 30px 25px;
    color: #d8d6da;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 275px;
    text-align: center;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    font-family: 'Monoton', cursive;
    font-size: 300%;
    margin-bottom: 20px;
    font-weight: 300;
    color: #f4d03f;
}
.hero-text-box h2 {
    margin-bottom: 35px;
    font-size: 100%;
    font-weight: 300;
}

.home-btn-display {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
}


/****************************
NAVIGATION BAR
****************************/

.logo {
    font-family: 'Monoton', cursive;
    float: left;
    font-size: 140%;
    padding: 14px 16px;
}

.logo a {
    color: #f4d03f;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(249, 105, 14)
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    z-index: 99;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 0, 86);
    box-shadow: 0px 0px 3px #000;
}
  
.navbar li a {
    display: block;
    text-decoration: none;
}

.navbar li {
    float: right;
    display: block;
    color: #C0BFBF;
    text-align: center;
    padding: 14px 16px;
    margin-top: 5px;
    text-decoration: none;
}

.navbar li a:visited {
    text-decoration: none;
    color: #C0BFBF;
}

.navbar li a:hover {
    color: #fff;  
}

/****************************
LOGIN/SIGNUP PAGE
****************************/

.join-the-fun {
    position: absolute;
    border-radius: 10px;
    padding: 30px 25px;
    color: #f4d03f;
    background-color: rgba(0, 0, 0, 0.4);
    width: 40%;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.join-head-text {
    font-size: 250%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.join-the-fun label {
    display: block;
    font-size: 130%;
    padding-bottom: 20px;
    margin-left: 15%;
}

.join-the-fun input { 
    background-color: rgb(98, 0, 86, 0.4);
    color: #f4d03f;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 4px;
}

.join-the-fun input[type=submit] {
    font-family: 'Monoton', cursive;
    font-size: 130%;
    margin-bottom: 100px;
    display: inline-block;
    border: 3px solid #f4d03f;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.join-the-fun input[type=submit]:hover {
    transform: scale(0.9);
}

/****************************
LOGIN ONLY PAGE
****************************/

.login-background {
    background-image: -webkit-gradient(linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12));
    background-image: linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#alert {
    color: #eb6d12;
    margin-left: 15%;
    margin-bottom: 30px;
}

/****************************
SIGNUP ONLY PAGE
****************************/

.signup-background {
    background-image: -webkit-gradient(linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12));
    background-image: linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12);
    background-size: cover;
    background-position: center;
    height: 200vh;
    width: 100vw;
    background-attachment: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.join-the-fun-signup {
    position: absolute;
    border-radius: 5px;
    padding: 30px 25px;
    color: #f4d03f;
    background-color: rgba(0, 0, 0, 0.4);
    width: 40%;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.join-the-fun-signup label {
    display: block;
    font-size: 130%;
    padding-bottom: 20px;
    margin-left: 15%;
}

.join-the-fun-signup input { 
    background-color: rgb(98, 0, 86, 0.4);
    color: #f4d03f;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 2px;
    cursor: pointer;
}

.join-the-fun-signup textarea { 
    background-color: rgb(98, 0, 86, 0.4);
    color: #f4d03f;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 2px;
    border: 2px solid #C0BFBF;
}

.join-the-fun-signup input[type=submit] {
    font-family: 'Monoton', cursive;
    font-size: 130%;
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #f4d03f;
    transition: all .2s ease-in-out;
}

.join-the-fun-signup input[type=submit]:hover {
    transform: scale(0.9);
}

ul.signup-errors {
    color: #eb6d12;
    margin-left: 15%;
    list-style-type: none;
    margin-bottom: 20px;
}

/****************************
USER SHOW PAGE
****************************/

.user-heading {
    display: grid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://media3.giphy.com/media/DZD6OikL9NHxK/source.gif);
    background-size: cover;
    min-height: 250px;
    grid-template-columns: 33% 66%;
    grid-gap: 10px;
    padding: 10px;
    color: #C0BFBF;
}

.user-heading-left {
    padding-left: 20px;
}

.user-name {
    font-size: 250%;
    margin-bottom: 10px;
}

.user-email {
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 10px;
}

.user-heading-right {
    
}

.user-bio-label {
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 10px;
}

.user-bio {
    display: block;
}

.user-content-grid {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-gap: 10px;
    padding: 10px;
}

.user-events {

}

.user-events-heading {
    padding: 10px;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 2px;
    color: #6d1770;
}

.user-new-event-btn {
    display: inline;
    float: right;
    margin: 10px 25px;
    background-color: #6d1770;
    padding: 10px 35px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #C0BFBF;
}

.user-new-event-btn a {
    text-decoration: none;
    color: #f4d03f;
    transition: margin 0.5s;
}

.user-new-event-btn a:hover {
    margin-right: 20px;
}

.user-all-event-btn {
    display: inline;
    background-color: #6d1770;
    padding: 10px 35px;
    margin: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #C0BFBF;
}

.user-all-event-btn a {
    text-decoration: none;
    color: #f4d03f;
    transition: margin 0.5s;
}

.user-all-event-btn a:hover {
    margin-left: 20px;
}

.event-card {
    display: flex;
	max-width: 800px;
	border-radius: 4px;
	box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 25px;
    margin-top: 25px;
}

.event-card-content {
    background-color: #fff;
	flex: 1;
	padding: 35px 30px;
	display: flex;
	flex-direction: column;
}

.event-card-title {
	display: flex;
	align-items: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #6d1770;
}

.event-card-title-item {
    padding: 5px 10px;
}

.item-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 110%;
    color: #eb6d12;
}

.item-link a:hover {
    color: #6d1770;
}

.event-card-desc {
    margin-left: 12px;   
}
.card-desc {
    color:#6d1770;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.card-text {
    letter-spacing: 1.5px;
    margin-top: 5px;
}

.event-card-footer {
    text-align: right;
}

.event-card-footer input {
    font-size: 110%;
}

.edit-user-btn a {
    font-size: 110%;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    border: 2px solid #C0BFBF;
    color: #C0BFBF;
}

.edit-user-btn a:hover {
    color: #6d1770;
    background-color: #C0BFBF;
}

.edit-user-btn a {
    text-decoration: none;
}

.user-friends-heading {
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 200%;
    font-weight: 300;
    color: #6d1770;
}

.user-friends {
    box-shadow: -5px 0 5px #C0BFBF;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0))
}

.friend-display {
    margin: 15px;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-friend {
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 2px;
    color: #eb6d12;
    text-decoration: none;
    text-align: left;
}

.user-friend-remove {
    display: inline;
    float: right;
}

.center {
    margin: 0 auto;
}

/****************************
EVENT SHOW PAGE
****************************/

.event-heading {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://media3.giphy.com/media/DZD6OikL9NHxK/source.gif);
    background-size: cover;
    min-height: 250px;
    padding: 10px;
    color: #C0BFBF;
    text-align: center;
    padding-top: 40px;
}

.event-heading h1 {
    font-family: 'Monoton', cursive;
    font-size: 350%;
    letter-spacing: 3px;
    color: #f4d03f;
}

.event-heading h2 {
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 20px;
}

.event-heading h2 a {
    text-decoration: none;
    color: #C0BFBF;
}

.event-content-grid {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-gap: 10px;
    padding: 10px;
}

.event-content {
    padding: 30px;
}

.event-content h3 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.event-content h3 span {
    color: #6d1770;
    font-size: 120%;
}

.event-content h4 {
    font-weight: 300;
    letter-spacing: 2px; 
    margin-bottom: 10px;
}

.event-content h4:last-of-type {
    margin-bottom: 30px;
}

.event-content h4 span {
    color: #eb6d12;
    font-size: 110%;
}

.event-content p {
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.event-content p span {
    color: #6d1770;
}

.event-description {
    background-color: #C0BFBF;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.attendees {
    box-shadow: -5px 0 5px #C0BFBF;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0))
}

/****************************
COLLAPSIBLE VIEW
****************************/
.wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color: #A77B0E;
    background: #f4d03f;
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1000px;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }


/****************************
OTHER
****************************/

.index-header {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 300%;
    color: #6d1770;
    margin-top: 30px; 
}

.no-events-display {
    margin: 30px 10px; 
    color: #eb6d12;
}

.no-events-display h2 {
    margin-bottom: 40px;
}

.no-events-display a {
    color: #f4d03f;
    background-color: #6d1770;
    padding: 10px 35px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #C0BFBF;
    text-decoration: none;
    transition: padding 0.5s;
}

.no-events-display a:hover {
    padding-left: 55px;
}

.delete-event-btn {
    font-family: 'Monoton', cursive;
    font-size: 130%;
    margin-bottom: 100px;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #eb0f0f;
    transition: all .2s ease-in-out;
    text-align:center;
    color: #eb0f0f;
    margin-left: 15%;
    padding: 5px;
    width: 70%;
    cursor: pointer;
}

.delete-event-btn:hover {
    transform: scale(0.9);
}