/*
COLORS:
RED: #B72126
BLUE: #004687
GREY: #C0BFBF
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Barlow';
}

/****************************
REUSABLE COMPONENTS
****************************/
.btn, .btn a:visited {
    display: inline-block;
    color: #000;
    background-color: #c0bfbf;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    width: 200px;
}

.btn a {
    text-decoration: none;
}

.btn-header {
    text-decoration: none;
    font-size: 90%;
    transition: padding 0.4s, font-size 0.4s, background-color 0.4s;
}

.btn-header:hover, .btn-header:active {
    text-decoration: none;
    background-color: #B72126;
    padding: 10px 25px;
    font-size: 120%;
}

#signup-btn:hover {
    background-color: #004687;
}

/****************************
HOME PAGE
****************************/
.landing {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job14-267-jite-0821.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=ac0ff699b9e5ed0b940fd9114a5cd42d);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job14-267-jite-0821.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=ac0ff699b9e5ed0b940fd9114a5cd42d);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-text-box {
    position: absolute;
    border-radius: 2px;
    padding: 30px 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 275px;
    text-align: center;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-box h1 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 20px;
    font-weight: 300;
    color: #C0BFBF;
}
.hero-text-box h2 {
    margin-bottom: 35px;
    font-size: 100%;
    font-weight: 300;
    color: #C0BFBF;
}


/****************************
NAVIGATION BAR
****************************/

.logo {
    font-family: 'Permanent Marker', cursive;
    float: left;
    font-size: 140%;
    padding: 14px 16px;
}

.logo a {
    color: #C0BFBF;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.logo a:hover {
    color: #004687
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    z-index: 99;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 3px #000;
}

.navbar li a {
    display: block;
    text-decoration: none;
}

.navbar li {
    float: right;
    display: block;
    color: #C0BFBF;
    text-align: center;
    padding: 14px 16px;
    margin-top: 5px;
    text-decoration: none;
}

.navbar li a:visited {
    text-decoration: none;
    color: #C0BFBF;
}

.navbar li a:hover {
    color: #fff;  
}

/****************************
LOGIN/SIGNUP PAGE
****************************/

.join-the-fun {
    position: absolute;
    border-radius: 5px;
    padding: 30px 25px;
    color: #C0BFBF;
    background-color: rgba(0, 0, 0, 0.4);
    width: 40%;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.join-head-text {
    font-size: 250%;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.join-the-fun label {
    display: block;
    font-size: 130%;
    padding-bottom: 20px;
    margin-left: 15%;
}

.join-the-fun input { 
    background-color: rgb(0,70,135,0.4);
    color: #C0BFBF;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 2px;
}

.join-the-fun textarea { 
    background-color: rgba(240, 240, 240, 0.4);
    border: 1px solid #000;
    color: #C0BFBF;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 2px;
}

.join-the-fun input[type=submit] {
    font-family: 'Permanent Marker', cursive;
    font-size: 130%;
    margin-bottom: 100px;
    display: inline-block;
    background-color: #004687;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.join-the-fun input[type=submit]:hover {
    background-color: #B72126;
}

/****************************
LOGIN ONLY PAGE
****************************/

.login-background {
    background-image: -webkit-gradient(linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12));
    background-image: linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#alert {
    color: #CCFF00;
    margin-left: 15%;
    margin-bottom: 30px;
}

/****************************
SIGNUP ONLY PAGE
****************************/

.signup-background {
    background-image: -webkit-gradient(linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12));
    background-image: linear-gradient(to right top, #081f67, #6d1770, #af0462, #db3244, #eb6d12);
    background-size: cover;
    background-position: center;
    height: 200vh;
    width: 100vw;
    background-attachment: fixed;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.join-the-fun-signup {
    position: absolute;
    border-radius: 5px;
    padding: 30px 25px;
    color: #C0BFBF;
    background-color: rgba(0, 0, 0, 0.4);
    width: 40%;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.join-the-fun-signup label {
    display: block;
    font-size: 130%;
    padding-bottom: 20px;
    margin-left: 15%;
}

.join-the-fun-signup input { 
    background-color: rgb(0,70,135,0.4);
    color: #C0BFBF;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 2px;
}

.join-the-fun-signup textarea { 
    background-color: rgb(0,70,135,0.4);
    color: #C0BFBF;
    margin-left: 15%;
    margin-bottom: 50px;
    padding: 5px;
    font-size: 110%;
    width: 70%;
    border-radius: 2px;
}

.join-the-fun-signup input[type=submit] {
    font-family: 'Permanent Marker', cursive;
    font-size: 130%;
    margin-bottom: 100px;
    display: inline-block;
    background-color: #004687;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.join-the-fun-signup input[type=submit]:hover {
    background-color: #B72126;
}

ul.signup-errors {
    color: #CCFF00;
    margin-left: 15%;
    list-style-type: none;
    margin-bottom: 20px;
}